Automated Video Content Creation & Posting.json
{
  "name": "Automated Video Content Creation & Posting",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1088,
        80
      ],
      "id": "f903186a-1fc6-4494-aead-e3c02101621e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "16LSGcuQ1izswgyZJLSUjFpJLUWIg24CXYXmjqQGEm_U",
          "mode": "list",
          "cachedResultName": "Contents",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16LSGcuQ1izswgyZJLSUjFpJLUWIg24CXYXmjqQGEm_U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16LSGcuQ1izswgyZJLSUjFpJLUWIg24CXYXmjqQGEm_U/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Not Posted"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -864,
        80
      ],
      "id": "4ff1b443-6f90-4697-9ce6-cf9924e3409c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "puIDvD1AGruBiW0E",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -672,
        256
      ],
      "id": "3c5a1652-2937-42b5-a175-3bed4540393f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "NchtBD6sEH0vCYg4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dd44e8b9-64ae-4a91-8d19-966910447f71",
              "leftValue": "={{ $json.data.status_desc }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        384,
        0
      ],
      "id": "85c3bec1-101e-4df1-83ee-edbf21b40965",
      "name": "If"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"title\": \"summarized title\",\n\"content\": \"content created\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -464,
        256
      ],
      "id": "c8c74115-2dae-4670-a7cc-a20e8ac913a4",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Topic: {{ $json.Title }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Expand on the provided topic in clear, engaging language for a general audience. Summarize the title to under 60 characters and keep the expanded content under 400 characters. Respond ONLY in valid JSON format as:\n{\n\"title\": \"summarized title\",\n\"content\": \"content created\"\n}\nDo not include the original title or any extra text."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -640,
        80
      ],
      "id": "30e39a4c-109f-4a16-a60c-9c724f79eaaa",
      "name": "Expand on Topic"
    },
    {
      "parameters": {
        "url": "=https://api.jogg.ai/v1/project?project_id={{ $('Generate Video').item.json.data.project_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        80
      ],
      "id": "7e447ee2-f9a3-4507-90e2-b0820b191c79",
      "name": "Get Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4NAbM7mhAvYaQfx5",
          "name": "Jogg Auth"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -64,
        80
      ],
      "id": "bf6b4d44-4b21-4ea6-95e0-85d710123173",
      "name": "Wait 30 Seconds",
      "webhookId": "c6346cbc-9d67-4868-80a4-bfc927f0830a"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        608,
        176
      ],
      "id": "87d073e0-5583-4dcc-b0b1-345db11b1fe0",
      "name": "Wait 5 seconds",
      "webhookId": "9f7623f7-6605-4455-a927-09b536ee9e99"
    },
    {
      "parameters": {
        "operation": "uploadVideo",
        "user": "NEBA",
        "platform": [
          "x"
        ],
        "title": "={{ $('Expand on Topic').item.json.output.title }}",
        "caption": "={{ $('Expand on Topic').item.json.output.content }}",
        "video": "={{ $('If').item.json.data.video_url }}",
        "xReplySettings": "everyone"
      },
      "type": "n8n-nodes-upload-post.uploadPost",
      "typeVersion": 1,
      "position": [
        816,
        -48
      ],
      "id": "51756893-68ef-4d57-8019-2c9747f5983f",
      "name": "Upload Post",
      "credentials": {
        "uploadPostApi": {
          "id": "2Rrq2ieiukDPAO1W",
          "name": "Upload Post account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.jogg.ai/v1/create_video_from_talking_avatar",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"script\": \"{{ $json.output.content }}\",\n  \"aspect_ratio\": 1,\n  \"screen_style\": 1,\n  \"avatar_id\": 774,\n  \"avatar_type\": 0,\n  \"voice_id\": \"tb_5853b291721741ab945fe356268f1c34\",\n  \"caption\": true,\n  \"video_name\": \"My Video\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -288,
        80
      ],
      "id": "54b355cb-9f27-4911-9328-1fa4ea57dda1",
      "name": "Generate Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4NAbM7mhAvYaQfx5",
          "name": "Jogg Auth"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "16LSGcuQ1izswgyZJLSUjFpJLUWIg24CXYXmjqQGEm_U",
          "mode": "list",
          "cachedResultName": "Contents",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16LSGcuQ1izswgyZJLSUjFpJLUWIg24CXYXmjqQGEm_U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16LSGcuQ1izswgyZJLSUjFpJLUWIg24CXYXmjqQGEm_U/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}",
            "Status": "={{ $json.results.x.success ? \"Posted\" : \"Error\" }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video URL",
              "displayName": "Video URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1008,
        -48
      ],
      "id": "2baf051b-4d92-41ed-97bb-a365dc5197b0",
      "name": "Update Status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "puIDvD1AGruBiW0E",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "16LSGcuQ1izswgyZJLSUjFpJLUWIg24CXYXmjqQGEm_U",
          "mode": "list",
          "cachedResultName": "Contents",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16LSGcuQ1izswgyZJLSUjFpJLUWIg24CXYXmjqQGEm_U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16LSGcuQ1izswgyZJLSUjFpJLUWIg24CXYXmjqQGEm_U/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}",
            "Video URL": "={{ $json.data.video_url }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video URL",
              "displayName": "Video URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        608,
        -48
      ],
      "id": "6d0d8a5a-b064-49b5-971e-b565a27e4abc",
      "name": "Update Video URL",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "puIDvD1AGruBiW0E",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Expand on Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Expand on Topic",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update Video URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 5 seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Expand on Topic",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Expand on Topic": {
      "main": [
        [
          {
            "node": "Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30 Seconds": {
      "main": [
        [
          {
            "node": "Get Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5 seconds": {
      "main": [
        [
          {
            "node": "Get Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video": {
      "main": [
        [
          {
            "node": "Wait 30 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Post": {
      "main": [
        [
          {
            "node": "Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Video URL": {
      "main": [
        [
          {
            "node": "Upload Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4a372aa6-527e-4314-959c-c33522db3874",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "840154ca8ff3822257170e4b1910defa5b76a2ee2e5b52ef94b6628e655db31a"
  },
  "id": "gvkfePbZUKk4b5I0",
  "tags": []
}